<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Usuário</title>
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/flatly/bulmaswatch.min.css">
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                Página do Usuário
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    {{#logado}}
                    <form id="logout-form" action="/logout" method="POST">
                        <input type="submit" value="Sair" name="sair" class="button is-danger" />
                    </form>
                    {{/logado}}
                    {{^logado}}
                    <a href="/" class="button is-primary">Login</a>
                    {{/logado}}
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        {{#logado}}
        <div class="container">
            <h1 class="title">Minhas Páginas</h1>
            <div class="columns is-multiline">
                <div class="column is-3">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Página 1</p>
                            <p class="subtitle">Descrição da página 1</p>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Página 2</p>
                            <p class="subtitle">Descrição da página 2</p>
                        </div>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Página 3</p>
                            <p class="subtitle">Descrição da página 3</p>
                        </div>
                    </div>
                </div>
                <!-- Adicione mais colunas conforme necessário -->
            </div>
        </div>
        {{/logado}}
    </section>
</body>
</html>